.login-links a {
  text-decoration: none;
  font-size: 10pt;
}

.segundo-h3 {
  color: #0d6efd;
}
.terceiro-h3 {
  color: #07fff0;
}
.segundo-h6 {
  color: #8e909b
}

.quarto-h3 {
  color: #7fff00;
}

#novaconta {
  background-color: #ececec;
  color: #050922;
  padding: 99px 8% 102px 8%;
}

#novaconta img {
  width: 100%;
}

.btn-novaconta {
  margin: 3% 3% 6% 0;
  color: #ffffff;
  border-radius: 50px;
}

#capa-novaconta {
  background-color: #050922;
  color: #ffffff;
  padding: 108px 0 102px 0;
}

#capa-novaconta img {
  width: 100%;
}

.btn-capa-novaconta {
  margin: 6% 3% 6% 0;
  color: #ffffff;
  border-radius: 50px;
}
