h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    font-family: Effra, sans-serif, Arial, sans-serif, Alliance1;
    }
    
    .container-sete-setembro {
    max-width: 600px;
    margin: 0 auto;
    background-color: #050922;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    .container-sete-setembro h1 {
      font-size: 42px;
    }
    
    .container-sete-setembro img {
    width: 150px;
    }    
    
    .header-sete-setembro {
    background-color: #050922;
    padding: 3%;
    color: #ffffff;
    }
    
    .segundo-h1 {
    color: #07fff0;
    }
    
    .content-sete-setembro {
    margin-top: 1%; /* aumenta o espaçamento entre o header e o texto */
    padding: 20px; /* Adicione a quantidade de espaçamento desejada aqui */
    background-color: #ececec;
    }

    .content-sete-setembro h5 {
        margin: 3% 0 1% 0;
    }    
    
    .content-sete-setembro img {
    width: 24px;
    margin-right: 3%;
    }
       
    .btn-sete-setembro {
    border-radius: 50px;
    margin: 9% 3% 9% 0;
    }
    
    @media only screen and (max-width: 768px) {
    .container-sete-setembro {
      margin-top: 0%;
    }
    
    .header-sete-setembro, .content-sete-setembro {
      padding-top: 3%;
    }
    
    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 9999;
    }    
    
    .social-media {
      margin-top: 6%;
    }
    }
    
    .social-media {
      display: flex;
      justify-content: center;
      margin-top: 1%;
      background-color: #050922;
      padding: 20px;
      text-align: center;
      color: #eeeaea;
      font-size: 14px;
    }
    
    .social-media p {
      margin-left: auto;
      color: #8d8d97;
      font-size: 9px;
      padding: 15px;
    }
    
    .social-media a {
      margin: 0 10px;
      color: #ffffff;
      font-size: 30px;
    }
    
    .social-media a:hover {
      color: #eeeeee;
    }