h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  font-family: Effra, sans-serif, Arial, sans-serif;
}

.segundo-h1 {
  color: #0d6efd;
}

p {
  color: #323338;
  font-family: Effra, sans-serif;
}
.segundo-p {
  color: #0d6efd;
  font-size: 12px;
}

.terceiro-p {
  color: red;
  font-size: 12px;
}

/* BANNER */

#custo-mensal-com-funcionario {
  background-color: #ececec;
  padding: 9% 21% 9% 21%;
  color: #323338;
}

.titulo {
  padding: 0 3% 1% 3%;
}

#custo-mensal-com-funcionario .width80 {
  width: 80%;
}

#custo-mensal-com-funcionario .width20 {
  width: 20%;
}
