h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  font-family: Effra, sans-serif, Arial, sans-serif, Alliance1;
}

.segundo-h1 {
  color: #0d6efd;
}

.chamado-h2 {
  font-size: 60px;
  line-height: 60px;
}
.chamado2-h2 {
  font-size: 60px;
  line-height: 51px;
  color: #0d6efd;
}

.chamado3-h4 {
  color: #8e909b;
}
.chamado4-h2 {
  color: #050922;
}
.btn-chamado {
  margin: 3% 3% 5% 0;
  color: #ffffff;
  border-radius: 50px;
  min-width: 150px
}

p {
  color: #323338;
  font-family: Effra, sans-serif;
}

body {
  background-color: #ececec;
}

/* NAVBAR */

.navbar {
  background-color: #050922;
  font-family: Effra, sans-serif;
  color: #ffffff;
}

/* BANNER */

#chamada {
  background-color: #ffffff;
  padding-bottom: 9%;  
}
.btm-chamada {
  border-radius: 50px;
  min-width: 150px
}

#inicio {
  background-color: #050922;
  color: #ffffff;
  padding: 108px 0 102px 0;
}

#inicio img {
  width: 100%;
}

.btn-banner {
  margin: 6% 3% 6% 0;
  color: #ffffff;
  border-radius: 50px;
  min-width: 150px
}

/* FEATURES */

#beneficios {
  background-color: #ececec;
  color: #323338;
  padding: 12% 6%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #0d6efd;
  margin-bottom: 15px;
}

/* TESTEMUNHOS */

#testemunho {
  background-color: #ececec;
  color: #323338;
  padding: 15% 6%;
  text-align: center;
}

#testemunho img {
  border-radius: 50%;
  width: 10%;
  margin: 20px;
}

/* ABRIR EMPRESA GRÁTIS */

#abrir-empresa-gratis {
  background-color: #ffffff;
  color: #323338;
  padding: 6% 3% 21% 3%;
}

#abrir-empresa-gratis img {
  width: 100%;
}

.carroussel {
  padding-top: 3%;
}


/* PRECOS */

#planos-e-precos .titulo {
  margin-top: 5%;
}

#planos-e-precos {
  background-color: #ffffff;
  padding: 3% 15% 0 15%;
  color: #323338;
}

.h2-preco {
  font-size: 45px;
  font-family: Effra, sans-serif, Arial, sans-serif;
  font-weight: 300;
  color: #050922;
}

.tabela {
  padding-top: 3%;
}

#planos-e-precos .width34 {
  width: 34%;
}

#planos-e-precos .width22 {
  width: 22%;
}

#planos-e-precos .bi {
  width: 24px;
  height: 24px;
}

#planos-e-precos img {
  width: 18px;
  height: 18px;
}

#informativo {
  background-color: #ffffff;
  color: #323338;
  padding: 6% 3% 6% 3%;
}

#informativo img {
  width: 60%;
  padding-top: 1%;
}

.btn-informativo {
  border-radius: 50px;
  margin: 12% 0 0 0;  
}

#ultimosartigosblog {
  background-color: #ffffff;
  color: #323338;
  padding: 6% 3% 6% 3%;
}

#ultimosartigosblog img {
  width: 100%;
}

/* artigos em destaque */
.valores-a-receber-bc {
  display: none;
}
.pronampe {
  display: none;
}
.emitirNFe {
  display: none;
}
.restituicaoIR {
  display: none;
}
.aberturadeempresa {
  display: block;
}
.slu {
  display: none;
}
.regras-aposentadoria-2023 {
  display: none;
}
.obrigatoriedade-dirpf {
  display: none;
}
.novidades-na-dirpf {
  display: none;
}
.deducoes-loegais-desconto-simplificado-dirpf {
  display: block;
}
.documentos-necessarios-dirpf {
  display: block;
}


#card-calculadoras {
  background-color: #ffffff;
  color: #323338;
  padding: 6% 3% 6% 3%;
}

.card-calculadoras {
  border-radius: 50px;
  margin: 6% 3% 6% 0;  
}

#card-calculadoras img{
  width: 100%;
}

.boneco-card-calculadoras {
  padding-top: 3%;
}

.btn-card-calculadoras {
  border-radius: 50px;
  margin: 6% 3% 6% 0;
  
}

.afiliado {
  padding-top: 9%;
}

.btn-card-afiliado {
  border-radius: 50px;
  margin: 1% 0 3% 0;
}

#parceiros {
  background-color: #ffffff;
  padding-top: 3%;
}

#parceiros img {
  width: 100%;
}

.parceiros {
  background-color: #050922;
  color: #ffffff;
  padding: 0 27% 0 27%;
}

.position-parceiros-p {
  position: absolute;
  color: #8d8d97;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
}

.parceiros-logos {
  padding: 0 12% 3% 12%;
  background-color: #ffffff;
}

.coluna1 {
  margin-top: 6%;
}
.coluna2 {
  margin-top: 3%;
}

.formtext h6 {
  color: #8d8d97;
  font-family: Effra, sans-serif;
  font-size: 15px;
  text-align: center;
  padding-top: 1%;
}

/* FOOTER */

#contato {
  text-align: center;
  color: #ffffff;
  background-color: #050922;
}
#contato img {
  width: 51%;
}

#contato .width34 {
  width: 34%;
}

#contato .width66 {
  width: 66%;
}

.social {
  padding-bottom: 1%;
}

.termodeuso p {
  color: #8d8d97;
  font-family: Effra, sans-serif;
  font-size: 12px;
  text-align: left;
}
.termodeuso h6 {
  color: #8d8d97;
  font-family: Effra, sans-serif;
  font-size: 12px;
  text-align: justify;
  font-weight: bold; 
}
.btn-termos {
  background-color: #050922;
  border-radius: 50px;
  color: #8d8d97;
}
.termos-a:link {
  color: #8d8d97;
  background-color: transparent;
  text-decoration: none;
  font-family: Effra, sans-serif;
  font-size: 12px;
}
.termos-a:hover {
  color: #aeaeb6;
  background-color: transparent;
  text-decoration: none;
}

.btn-card-cliente {
  border-radius: 50px;
}

/* Calculadoras */

.whatsapp-fa:link {
  color: #46c655;
  background-color: transparent;
  text-decoration: none;
}

.whatsapp-fa:hover {
  color: #46c655;
  background-color: transparent;
  text-decoration: none;
}


