h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  font-family: Effra, sans-serif, Arial, sans-serif;
}

.segundo-h1 {
  color: #0d6efd;
}

p {
  color: #323338;
  font-family: Effra, sans-serif;
}

body {
  background-color: #ececec;
}

/* NAVBAR */

.navbar {
  background-color: #050922;
  font-family: Effra, sans-serif;
  color: #ffffff;
}

/* BANNER */

#inicio {
  background-color: #050922;
  color: #ffffff;
  padding: 108px 0 102px 0;
}

#inicio img {
  width: 100%;
}

.btn-banner {
  margin: 6% 3% 6% 0;
  color: #ffffff;
  border-radius: 50px;
}

/* FEATURES */

#beneficios {
  background-color: #ececec;
  color: #323338;
  padding: 12% 6%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #0d6efd;
  margin-bottom: 15px;
}

/* TESTEMUNHOS */

#testemunho {
  background-color: #ececec;
  color: #323338;
  padding: 15% 6%;
  text-align: center;
}

#testemunho img {
  border-radius: 50%;
  width: 10%;
  margin: 20px;
}

/* ABRIR EMPRESA GRÁTIS */

#abrir-empresa-gratis {
  background-color: #ffffff;
  color: #323338;
  padding: 6% 3% 21% 3%;
}

#abrir-empresa-gratis img {
  width: 100%;
}

.carroussel {
  padding-top: 3%;
}


/* PRECOS */

#planos-e-precos .titulo {
  margin-top: 5%;
}

#planos-e-precos {
  background-color: #ffffff;
  padding: 3% 15% 0 15%;
  color: #323338;
}

.h2-preco {
  font-size: 45px;
  font-family: Effra, sans-serif, Arial, sans-serif;
  font-weight: 300;
  color: #050922;
}

.tabela {
  padding-top: 3%;
}

#planos-e-precos .width34 {
  width: 34%;
}

#planos-e-precos .width22 {
  width: 22%;
}

#planos-e-precos .bi {
  width: 24px;
  height: 24px;
}

#planos-e-precos img {
  width: 18px;
  height: 18px;
}

#ultimosartigosblog {
  background-color: #ffffff;
  color: #323338;
  padding: 6% 3% 6% 3%;
}

#ultimosartigosblog img {
  width: 100%;
}

#card-calculadoras {
  background-color: #ffffff;
  color: #323338;
  padding: 6% 3% 6% 3%;
}

.card-calculadoras {
  border-radius: 50px;
  margin: 6% 3% 6% 0;  
}

#card-calculadoras img{
  width: 100%;
}

.boneco-card-calculadoras {
  padding-top: 3%;
}

.btn-card-calculadoras {
  border-radius: 50px;
  margin: 6% 3% 6% 0;
  
}

.afiliado {
  padding-top: 9%;
}

.btn-card-afiliado {
  border-radius: 50px;
  margin: 1% 0 3% 0;
}

#parceiros img {
  width: 100%;
}

.parceiros {
  background-color: #050922;
  color: #ffffff;
  padding: 0 27% 0 27%;
}

#parceiros {
  background-color: #ffffff;
  padding-top: 5%;
}
.position-parceiros-p {
  position: absolute;
  color: #8d8d97;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
}


.parceiros-logos {
  padding: 0 13% 1% 12%;
  background-color: #ffffff;
}

.coluna1 {
  margin-top: 6%;
}
.coluna2 {
  margin-top: 3%;
}

.formtext h6 {
  color: #8d8d97;
  font-family: Effra, sans-serif;
  font-size: 15px;
  text-align: center;
  padding-top: 1%;
}

/* FOOTER */

#contato {
  text-align: center;
  color: #ffffff;
  background-color: #050922;
}

#contato img {
  width: 48%;
}

.formtext p {
  color: #8d8d97;
  font-family: Effra, sans-serif;
  font-size: 9px;
  text-align: center;
}

.btn-card-cliente {
  border-radius: 50px;
}


