h1, h2, h3, h4, h5, h6{
    line-height: 1.3;
    font-family: Effra,sans-serif, Arial, sans-serif;    
}

.segundo-h1{
    color:#0d6efd;
}

p{
    color: #323338;
    font-family: Effra,sans-serif;    
}

/* NAVBAR */

.navbar{
    background-color: #050922;    
    font-family: Effra,sans-serif; 
    color: #ffffff; 
}

/* BANNER */

#inicio{
    background-color: #050922;
    color: #ffffff;
    padding: 108px 0 105px 0;    
}

#inicio img{
    width: 100%; 
}

.btn-banner{
    margin: 9% 3% 6% 0;
    color: #ffffff;
    border-radius: 50px;   
}

.btn-artigos{
    margin: 9% 3% 6% 0;
    border-radius: 50px;   
}

/* FEATURES */

#beneficios{
    background-color: #ececec;
    color: #5e5f63;
    padding: 12% 6%;    
}

.quarto-h3{
    color: #050922;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #0d6efd;
    margin-bottom: 15px;
}


/* TESTEMUNHOS */

#apresentacao{
    background-color: #ececec;
    color: #323338;
    padding: 12% 15%;
    text-align: center;    
}

#apresentacao img {
    border-radius: 50%;
    width: 10%;
    margin: 20px;
}

/* ABRIR EMPRESA GRÁTIS */

#abrir-empresa-gratis{
    background-color: #ffffff;
    color: #323338;
    padding: 120px 0 90px 12px;
}

#abrir-empresa-gratis img {
    width: 100%;    
}

#ultimosartigosblog{
    background-color: #ffffff;
    color: #323338;
    padding: 120px 0 90px 12px;
}

#ultimosartigosblog img {
    width: 100%;    
}

/* PRECOS */

#planos-e-precos .titulo{
    margin-top: 5%;    
}

#planos-e-precos{
    background-color: #ffffff;
    padding: 5% 15% 8%;
    color: #323338;
   
}

#planos-e-precos .width34{
    width: 34%
}

#planos-e-precos .width22{
    width: 22%
}

#planos-e-precos .bi{
    width: 24px;
    height: 24px
}

#planos-e-precos img{
    width: 18px;
    height: 18px
}

#parceiros{
    background-color: #050922;
    padding: 2px 0 3px 0;
}

/* FOOTER */

#contato{
    padding: 0 1% 1%;
    text-align: center;
    color: #ffffff;
    background-color: #050922;   
}

#contato img{
    width: 15%; 
}

