.segundo-h3 {
    color: #0d6efd;
  }
  .terceiro-h3 {
    color: #07fff0;
  }
  .segundo-h6 {
    color: #8e909b
  }

  .stylo-p {
    font-weight: bold
  }

  .sem-sublinhado {
    text-decoration: none;
    color: #323338;
  }
  
  #a-importrancia-das-retencoes-na-reinf {
    background-color: #ececec;
    color: #050922;
    padding: 90px 0 90px 12px;
  }
  
  #a-importrancia-das-retencoes-na-reinf img {
    width: 100%;
  }
  
  #capa-a-importrancia-das-retencoes-na-reinf {
    background-color: #050922;
    color: #ffffff;
    padding: 108px 0 102px 0;
  } 
  
  #capa-a-importrancia-das-retencoes-na-reinf img {
    width: 100%;
  }
  
  .btn-capa-a-importrancia-das-retencoes-na-reinf {
    margin: 6% 3% 6% 0;
    color: #ffffff;
    border-radius: 50px;
  }
  .btn-corpo-a-importrancia-das-retencoes-na-reinf {
    margin: 1% 0 3% 0;
    border-radius: 50px;
  }
  
  #artigosrelacionados-a-importrancia-das-retencoes-na-reinf {
    padding: 60px 0 0 0;
    background-color: #ffffff;
  }
   .btn-a-importrancia-das-retencoes-na-reinf {
    margin: 9px 9px 24px 0;
    border-radius: 50px;
    min-width: 100px;
}