.segundo-h3 {
  color: #0d6efd;
}

.terceiro-h3 {
  color: #07fff0;
}

.segundo-h6 {
  color: #8e909b
}

#naosepodeculparcargatributaria {
  background-color: #ececec;
  color: #050922;
  padding: 90px 0 90px 12px;
}

#naosepodeculparcargatributaria img {
  width: 90%;
}

#capa-naosepode {
  background-color: #050922;
  color: #ffffff;
  padding: 108px 0 102px 0;
}

#capa-naosepode img {
  width: 100%;
}

.btn-capanaosepode {
  margin: 6% 3% 6% 0;
  color: #ffffff;
  border-radius: 50px;
}
