.navbar {
    background-color: #050922;
    font-family: Effra, sans-serif;
    color: #ffffff;
  }

#siga-nos {
    padding-top: 33%;
    text-align: center;
    color: #ffffff;
    background-color: #050922;
  }
  
  #siga-nos img {
    width: 60%;
  }
  
  .formtext-siga-nos p {
    color: #8d8d97;
    font-family: Effra, sans-serif;
    font-size: 6px;
    text-align: center;
    padding: 21% 0 3% 0;
  }

  .siga {
    padding: 1% 6% 3% 6%;
  }
  .siga2 {
    padding: 0 6% 0 6%;
  }