#inicio-blog {
  background-color: #050922;
  color: #ffffff;
  padding: 108px 0 102px 0;
}

.segundo-h6 {
  color: #8e909b
}

.segundo-h3 {
  color: #0d6efd;
}

.terceiro-h3 {
  color: #07fff0;
}

#inicio-blog img {
  width: 100%;
}

.btn-inicio-blog {
  margin: 6% 3% 6% 0;
  color: #ffffff;
  border-radius: 50px;
}
