#contato {
  text-align: center;
  color: #ffffff;
  background-color: #050922;
}

#contato img {
  width: 15%;
}

.formtext p {
  color: #8d8d97;
  font-family: Effra, sans-serif;
  font-size: 9px;
  text-align: center;
}
