
.terceiro-h3{
    color:#07fff0;
}


#categorias{
    background-color: #ececec;
    color: #050922;
    padding: 90px 0 90px 12px;   
}


#categorias img{
    width: 100%; 
}

.categorias-tgs{
    padding: 40px;
    
}